Examples/Automated Driveway/OPC-UA-Gateway.json
[
    {
        "id": "72e8136b.e0ba0c",
        "type": "tab",
        "label": "Weather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d7d745dc.2aad08",
        "type": "function",
        "z": "72e8136b.e0ba0c",
        "name": "parse()",
        "func": "\nvar numberOfHours = 3;\nvar i = 0;\nvar forecasts = new Array(numberOfHours); //Array consisting of imminent forecasts, hour by hour\n//Symbol list from YR - every precipitation category\nvar yrSymbols = new Array(\"12\", \"13\", \"14\", \"23\", \"31\", \"32\", \"33\", \"34\", \"47\", \"48\", \"49\", \"50\", \"42d\", \"07d\", \"43d\", \"44d\", \"08d\", \"45d\", \"26d\", \"20d\", \"27d\", \"28d\", \"21d\", \"29d\", \"42n\", \"07n\", \"43n\", \"44n\", \"08n\", \"45n\", \"26n\", \"20n\", \"27n\", \"28n\", \"21n\", \"29n\", \"42m\", \"07m\", \"43m\", \"44m\", \"08m\", \"45m\", \"26m\", \"20m\", \"27m\", \"28m\", \"21m\", \"29m\");\n\n\n//void fillHour(j);\nfunction fillHour(i){\n    forecasts[i].hour = i+1;\n    forecasts[i].temp = msg.payload.weatherdata.forecast[0].tabular[0].time[i].temperature[0].$.value;\n    forecasts[i].rain = msg.payload.weatherdata.forecast[0].tabular[0].time[i].precipitation[0].$.value;\n    forecasts[i].rainType = msg.payload.weatherdata.forecast[0].tabular[0].time[i].symbol[0].$.number;\n    \n    for (var k = 0; k < yrSymbols.length; k++){\n        if(forecasts[i].rainType === yrSymbols[k]){\n            forecasts[i].rainType = \"snow inbound\";\n        }\n    }\n    if(forecasts[i].rainType != \"snow inbound\") forecasts[i].rainType = \"no snow\";\n    \n}\n\nfor (i = 0; i < numberOfHours; i++){\n    //Format every forecast object\n    forecasts[i] = {\n        hour: 0,\n        temp: 0,\n        rain: 0,\n        rainType: \"no snow\",\n        ice: false\n    }\n    //Fill forecast with information\n    fillHour(i);\n}\n\n\n\n//Puts every forecast into\nmsg.payload = forecasts;\n\nreturn [forecasts[0], forecasts[1], forecasts[2]];",
        "outputs": 3,
        "noerr": 0,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "f6885319.8887"
            ],
            [
                "f6885319.8887"
            ],
            [
                "f6885319.8887"
            ]
        ]
    },
    {
        "id": "b0d3116d.60236",
        "type": "inject",
        "z": "72e8136b.e0ba0c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "9564bbe5.2c5538"
            ]
        ]
    },
    {
        "id": "9564bbe5.2c5538",
        "type": "http request",
        "z": "72e8136b.e0ba0c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "yr.no/stad/Noreg/Oslo/Oslo/Ljabru/varsel_time_for_time.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "a8a7951a.77b338"
            ]
        ]
    },
    {
        "id": "a8a7951a.77b338",
        "type": "xml",
        "z": "72e8136b.e0ba0c",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "d7d745dc.2aad08"
            ]
        ]
    },
    {
        "id": "f6885319.8887",
        "type": "function",
        "z": "72e8136b.e0ba0c",
        "name": "split()",
        "func": "   ",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "c7c8b032.9d595"
            ]
        ]
    },
    {
        "id": "28721d60.a340b2",
        "type": "debug",
        "z": "72e8136b.e0ba0c",
        "name": "print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "c7c8b032.9d595",
        "type": "OPCUA-IIoT-Write",
        "z": "72e8136b.e0ba0c",
        "connector": "d18c2c96.aafe1",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "28721d60.a340b2"
            ]
        ]
    },
    {
        "id": "d18c2c96.aafe1",
        "type": "OPCUA-IIoT-Connector",
        "z": "",
        "discoveryUrl": "opc.tcp://localhost:4840/",
        "endpoint": "opc.tcp://localhost:4840/",
        "keepSessionAlive": false,
        "loginEnabled": true,
        "securityPolicy": "None",
        "securityMode": "NONE",
        "name": "CEO_Twin",
        "showErrors": false,
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "endpointMustExist": false,
        "autoSelectRightEndpoint": true,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    }
]